.header{
    float: right; 
}
.img1{
    width: 220px;
}
hr{
    background-color: red;
    border-bottom: red;
}
.h4{
    color: red;
    text-decoration: underline;
}
body{
    margin-left: 150px;
    margin-right: 150px;
}
.p1{
    text-align: center;
}